.ColumnsContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: lightblue;
}
.Column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 70vh;
  width: 25vh;
  border: 1px solid black;
  border-color: black;
  border-radius: 20px;
}
.CrearColumnaButton {
  position: absolute;
  top: 10px;
  left: 90%;
  z-index: 2;
  border: 1px solid black;
  cursor: pointer;
  height: 5vh;
  border-radius: 10px;
}

.CrearColumnaButton:hover {
  background-color: rgb(0, 150, 255);
}
.ColumnTitle {
  position: relative;
  top: 0%;
  left: 25%;
  font-size: 1.5em;
  font-weight: bold;
}
.task {
  position: relative;
  cursor: pointer;
  left: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 20vh;
  border: 1px solid black;
  border-color: black;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.taskDetail {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80vh;
  height: 99vh;
  overflow: hidden;
  z-index: 101;
  position: absolute;
  top: 0%;
  left: 61%;
  font-size: 1em;
  font-weight: bold;
}
.AniadirTarea {
  z-index: 101;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vh;
  top: 20%;
  left: 30%;
  position: fixed;
}
.overlaydetail {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.AniadirTareaForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vh;
}
.InputAniadirTarea {
  width: 30vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
}
.ButtonAniadirTarea {
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.TaskDetailButtonActualizarDone{
  position: relative;
  top: 50%;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.TaskDetailButtonActualizarInReview{
  position: relative;
  top: 50%;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.TaskDetailButtonActualizarInProgress{
  position: relative;
  top: 50%;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.TaskDetailButtonActualizarToDo{
  position: relative;
  top: 50%;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.TaskDetailTitle {
  border: 1px solid black;
  display: flex;
  align-self: center;
  width: 90%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-style: solid;
  font-size: 1.5em;
  padding: 10px;
  top: 10%;
  font-weight: bold;
}
.ContainerTaskDetailTtitle {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 5vh;
}
.TaskDetailButtonClose {
  position: relative;
  top: 90%;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.TaskDetailButtonActualizar {
  position: relative;
  top: 67%;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.ActualizarColumnaButton {
  position: relative;
  top: 50%;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.ActualizarTareaButton {
  position: relative;
  top: 50%;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.ActualizarTareaForm{
  position: relative;
  top: 80%;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vh;
  z-index: 101;
}
.InputActualizarTarea {
  width: 30vw;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid black;
}
.ButtonActualizarTarea{
  width: 10vw;
  height: 5vh;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}